#a1{
    font-weight: bold;
    font-size: 17px;
}

#a2{
    font-weight: bold;
    font-size: 17px;
}

#h31{
    color: rgb(255, 0, 255);
    font-size: 25px;
}

#h32{
    color: rgb(255, 0, 255);
    font-size: 25px;
}